<!-- Este template muestra la pantalla de agentes con su formulario 
para ingresar nuevos agentes -->
{% extends 'AppCoder/inicio.html' %}

{% load static %}

{% block pantalla %}
<h1 style="text-align: center;">ESTA PANTALLA PERTENECE A AGENTES</h1>
<!-- --------FORMULARIO--------- -->
<form action="{% url 'agentes' %}" method="POST"> {% csrf_token %}
    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="Enviar" style="font-size: 15px;">
</form>
{% endblock %}