<!-- Este template muestra la pantalla de campañas con su formulario 
para ingresar nuevas campañas -->
{% extends 'AppCoder/inicio.html' %}

{% load static %}

{% block pantalla %}
<h1 style="text-align: center;">ESTA PANTALLA PERTENECE A CAMPAÑAS</h1>
<!-- --------FORMULARIO----------->
<form action="{% url 'campañas' %}" method="POST"> {% csrf_token %}
    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="Guardar" style="color: rgb(136, 28, 28);">
</form>
{% endblock %}