{% extends 'AppCoder/inicio.html' %}

{% load static %}

{% block pantalla %}
<h1 style="text-align: center;">LISTADO DE AGENTES</h1>

{% if agentes %}
    <ul>
        {% for agente in agentes %}
            <p>{{ agente.apellido }}, {{ agente.nombre }} - grupo:{{agente.grupo}}</p>
            <a href="{% url 'eliminarAgente' agente.id %}"> ELIMINAR</a>
            <a href="{% url 'editarAgente' agente.id %}"> EDITAR</a>
            <br>
            {% endfor %}
    </ul>
{% else %}

    <p>No se encontraron agentes de este grupo</p>

{% endif %}

<a style="text-align: center; padding: 150px;" href="{% url 'agentes' %}">Agregar un agente</a>

{% endblock %}