{% extends 'AppCoder/inicio.html' %}

{% load static %}

{% block pantalla %}
<h1 style="text-align: center;">RESULTADOS DE LA BUSQUEDA</h1>

{% if agentes %}
    <ul>
        {% for agente in agentes %}
            <li style="color: rgb(136, 28, 28); 
                font-size: 25PX; 
                margin-left: 100PX;">
                Nombre: {{agente.nombre}}
            </li>
            <li style="color: rgb(136, 28, 28); 
                font-size: 25PX; 
                margin-left: 100PX;">
                Grupo: {{agente.grupo}}
            </li>
            <br>
            {% endfor %}
    </ul>
{% else %}

    <p>No se encontraron agentes de este grupo</p>

{% endif %}

{% endblock %}