<!-- Este template muestra la pantalla de supervisores con su formulario 
para ingresar nuevos supervisores -->
{% extends 'AppCoder/inicio.html' %}

{% load static %}

{% block pantalla %}
<h1 style="text-align: center;">ESTA PANTALLA PERTENECE A SUPERVISORES</h1>
<!-- --------FORMULARIO----------->
<form action="{% url 'supervisores' %}" method="POST"> {% csrf_token %}
    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="Guardar" style="font-size: 15px;">
</form>
{% endblock %}