
{% extends 'base.html' %}

{% block titulo %}
<title>Buzon de Entrada</title>
{% endblock %}
    
{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">De: {{mensaje.emisor}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Para: {{mensaje.receptor}}</h6>
      <p class="card-text">{{mensaje.texto}}</p>
      <a href="{% url 'enviarMensaje' %}" class="card-link">Responder</a>
      <a href="{% url 'buzonEntrada' user.id %}" class="card-link">Volver</a>
    </div>
    <a class="btn btn-outline-danger" href="{% url 'eliminarMensaje' mensaje.id %}">Eliminar</a>
</div>

{% endblock %}